<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <form method="POST" action="/urls/<%= shortURL %>">
      <p>ShortURL: <%= shortURL %></p>
      <a href="http://localhost:3000/u/<%= shortURL %>">http://localhost:3000/u/<%= shortURL %></a>
      <p>Current LongURL: <%= longURL %></p>
      <input type="url" name="longURL" placeholder="http://" value="<%= longURL %>">
      <button type="">Update</button></p>
    </form>
  </body>
</html>